#game-board {
	display: grid;
	justify-items: center;
	align-items: center;
	border-radius: 15px;
	overflow: hidden;
	background-color: #242424;
	border-radius: 2vh;
	margin: auto;
	width: fit-content;
	height: fit-content;
	padding: 1vh;

    /* No Highlighting */
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.row {
	display: flex;
}

.cell {
    width: 6vh;
    height: 6vh;
    background-color: #b4b4b4;
    border-radius: 20%;
    margin: 0.4vh;
    aspect-ratio: 1;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 6vh; /* Set font size relative to the viewport height */
    display: flex;  /* Flexbox for centering */
    justify-content: center;  /* Center the content horizontally */
    align-items: center;  /* Center the content vertically */
}

